.App {
  text-align: center;
  
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(rgba(253, 139, 8, 0.822), rgba(255, 217, 0, 0.5)), url("../public/assets/pizza.jpg");
  background-size: 100%;
  /* background-color: rgb(253, 139, 8); */
}


